body {
    background-color: #293236;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {    
    border-radius: 1.5rem;
}
.btn-gradient {
    border-radius: 1.5rem;
    background-image: linear-gradient(to right, #ff31eaff, #5d00a8ff);
    border: 0px;
    color: white;
}
#topbar {
    background-color: #1b2124;
    position: sticky;
    top: 0px;
    padding: 2em;
    z-index: 100;
}
#topbar2 {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}
#logo {
    width: 12em;
}
#img1 img {
    width: 120%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 1em;
    border-radius: 2rem;
}
#txt1 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 1em;
    margin-left: 4em;
}
#list {
    font-weight: 500;
    margin-top: 1em;
    font-size: 25px;
}
#txt2 img {
    width: 35%;
    text-align: center;
    margin-left: 30em;
    margin-top: 3em;
}
#host_form img {
    width: 100%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 2rem;
}
#register_now {
    font-size:20px;
    width: 90%;
    height: 3em;
    margin-top: 0.5em;
    margin-left: 1em;
}
#footer {
    color: white;
    margin-top: 5em;
    text-align: center;
}