body {
    background-color: #293236;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {    
    border-radius: 1.5rem;
}
.btn-gradient {
    border-radius: 1.5rem;
    background-image: linear-gradient(to right, #ff31eaff, #5d00a8ff);
    border: 0px;
    color: white;
}
#topbar {
    background-color: #1b2124;
    position: sticky;
    top: 0px;
    padding: 2em;
    z-index: 100;
}
#topbar2 {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}
#logo {
    width: 12em;
}
#searchbar {
    background-color: #ededed;
    border-radius: 1.5em; 
    margin-left: 2em; 
    margin-right: 2em;
    margin-top: 4em;
    margin-bottom: 2em;
    width: 95%;
    height: 5em;
} 
.button-search {
    background-color: #ededed;
    height: 4em;
    width: 100%;
    margin-left: 2em;
    margin-top: 0.5em;
    border-radius: 1.5em;
    cursor: pointer;
}
.button-search:hover {
    border: 0.1em solid #ff31ea;
}olengu/
.button-search:focus {
    border: 0.1em solid #0B171D;
    background-color: #DAD8D8;
} 
#search-button {
    width: 70%;
    height: 2.5em;
    margin-top: 0.4em;
    margin-left: 3em;
}
.input-search {
    margin-top: 0.2em;
    margin-left: 1em;
    border-radius:0.5em;
    border-width: 0em;
    background-color: #ededed;
}
.secondary-search {
    margin-left: 1em; 
    margin-bottom: 0em;
}
.secondary-placeholder {
    margin-left: 1em;
    margin-bottom: 0em; 
    margin-top: 0.2em; 
    color: grey;
}
.popup-search {
    background-color: #ededed;
    border-radius: 2em;
    height: 20em;
    width: 30em;
    margin-top: 0.8em;
    margin-left: 1em;
    display: none;
}
#text-vacancy {
    margin-top: 3em;
    margin-bottom: 3em;
    vertical-align: middle;
    margin-left: 8em;
    margin-right: 2em;;
}
#text-vacancy img {
    width: 80%;
}
#slideshow {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.carousel-item img {
    border-radius: 1.5em;
    object-fit: cover;
    width: 1000px;
    height: 100%;
}
.caption {
    font-size: 32px;
    background-color: rgba(41, 50, 54, 0.4);
    color: white;
    border-radius: 1.5em; 
}
/* diventa un host*/
#img1 img {
    width: 120%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 1em;
    border-radius: 2rem;
}
#txt1 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 1em;
    margin-left: 4em;
}
#list {
    font-weight: 500;
    margin-top: 1em;
    font-size: 25px;
}
#txt2 img {
    width: 35%;
    text-align: center;
    margin-left: 30em;
    margin-top: 3em;
}
#host_form img {
    width: 100%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 2rem;
}
#register_now {
    font-size:20px;
    width: 90%;
    height: 3em;
    margin-top: 0.5em;
    margin-left: 1em;
}
#login-box {
    background-image: url("/img/amalfi.jpeg");
    background-position: center;
    background-size: cover;
}
#login-box-col {
    background-color: #293236;
    background-position: center;
    background-size: cover;
    border-radius: 2em;
    padding: 100px;
    color: white;
    margin-top: 2em;
}
#login-form-btn {
    height: 3em;
    width: 50%;
}
#register-box {
    background-image: url("/img/552459.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}
#register-box-col {
    background-color: #293236;
    background-position: center;
    background-size: cover;
    border-radius: 3em;
    padding: 90px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 15em;
}
#commercial-ad img {
    width: 80%;
    background-color: rgba(41, 50, 54, 0.4);

}
#footer {
    color: white;

    margin-top: 5em;
    text-align: center;
}