@import url('/css/bootstrap.min.css');

body {
  background-color: #293236;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-emphasis: none;
  color: rgb(184, 184, 184);
}
a:hover {
  color: white;
  text-decoration: none;
}
.btn {    
  border-radius: 1.5rem;
}
.btn-gradient {
  border-radius: 1.5rem;
  background-image: linear-gradient(to right, #ff31eaff, #5d00a8ff);
  border: 0px;
  color: white;
}
#topbar {
  background-color: #1b2124;
  position: sticky;
  top: 0px;
  padding: 1.2em;
  z-index: 100;
}
#topbar2 {
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}
#logo {
  width: 12em;
}
.button-search {
  background-color: #ededed;
  width: 100%;
  height: 90%;
  margin-top: 1em;
  border-radius: 2em;
  cursor: pointer;
}
.button-search:hover {
  border: 0.1em solid #ff31ea;
}
.button-search:focus {
  border: 0.1em solid #0B171D;
  background-color: #DAD8D8;
} 

#search-button {
  width: 100%;
  height: 90%;
  margin-top: 0.7em;
  border-radius: 2em;
}
.input-search {
  margin-top: 0em;
  margin-left: 1em;
  border-radius:0.5em;
  border-width: 0em;
  background-color: #ededed;
  max-width: 60%;
}
.secondary-search {
  margin-left: 1em; 
  margin-bottom: 0em;
}
.secondary-placeholder {
  margin-left: 1em;
  margin-bottom: 0em; 
  margin-top: 0.2em; 
  color: grey;
}
.date-input {
  max-width: 8em;
}

.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  z-index: 99;
  margin-left: 5%;
  margin-top: 5%;
  width: 80%;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ededed;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #ffc3f9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ffc3f9 !important;
  color: #ffffff;
}
.guests-button {
  border: none;
  margin-left: 4%; 
  margin-right: 4%;
  width: 25px;
  height: 25px;
  border-radius: 1em;
}

#text-vacancy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;

}
#text-vacancy img {
  width: 80%;
}
#slideshow {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item img {
  border-radius: 1.5em;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.caption {
  font-size: 200%;
  background-color: rgba(41, 50, 54, 0.4);
  color: white;
  border-radius: 1.5em; 
}
/* diventa un host*/
#txt1 img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
#img1 img {
  width: 100%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}

#txt2 {
  color: white;
  padding-right: 3%;
  padding-left: 3%;
  font-weight: bolder;
  font-size: 150%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
#list {
  font-weight: lighter;
  margin-top: 1em;
  font-size: 100%;
}
#host_form img {
  width: 100%;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 2rem;
}
#register_now {
  font-size: 90%;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
}
/* login */

#login {
  background-image: url("/img/amalfi1.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  
}
#login-box-col {
  background-color: #293236;
  background-position: center;
  background-size: cover;
  border-radius: 2em;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  margin-top: 2em;
}
#login-form-btn {
  height: 20%;
  width: 50%;
  font-weight: bold;
}
/* registrati */
#register-box {
  background-image: url("/img/552459.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.register-box-col {
  background-color: #293236;
  background-position: center;
  background-size: cover;
  border-radius: 3em;
  padding: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 5em;
}
#commercial-ad img {
  margin-top: 5em;
  align-content: center;
  border-radius: 1em;
  width: 100%;
  height: auto;
  padding: 10%;
  background-color: rgba(233, 233, 233, 0.5);
}
#register-form-btn {
  width: 100%;
  height: 10%;
  font-weight: bold;
}
/* registra  appartamento */ 
.InsertItem {
  background-image: url("/img/house-beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#insertitem-box {
  color: white;
  background-color: #293236;
  background-size: cover;
  border-radius: 3em;
  margin: 3em;
  padding: 3em;
  min-width: 450px;
}
@media only screen 
  and (max-device-width : 580px) {
    #insertitem-box {
      margin: 0px;
      margin-left: -15px;
      margin-right: -15px;
      padding: 3em;
      min-width: 220px;
      border-radius: 0px;
    }
}
.form-check-insertitem {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.3em;
  align-items: center;
}
#prezzo-form {
  width: 15em;
}
#counter-host-prezzo {
  display: flex;
  align-items: center;
  
}
.counter-host {
  padding: 0.4em;
  text-align: center;
}
#register-host-btn {
  font-weight: bold;
  text-align: center;
  width: 300px;
}
#present-item-box {
  background-color: rgb(74, 76, 78);
  margin-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 2em;
  padding: 1em;
  height: fit-content;
  padding: 1em;
}
.present-item-col{
  display: inline-block;
}
.present-item-img {
  display: block;
  margin: auto;
  max-height: 150px;
  align-items: center;
}
.btn-dashboard {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
  height: 50px;
  width: 400px;;
  text-align: center;
  font-weight: bold;
}
.user-card {
  background-color: grey;
  border-radius: 1.5em;
  padding: 3em;
}
#footer {
  color: white;
  margin-top: 5em;
  text-align: center;
}