<html>
    <head>
        <script src="/js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <script src="/js/popper.min.js" crossorigin="anonymous"></script>
        <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
       <div class="contaid-block w-100" id="topbar">
            <div class="row">
                <div class="col-sm-4" id="topbar1">
                    <a href="/">
                        <img id="logo" src="/img/logo.png">
                    </a>
                </div>
                <div class="col-sm-8" id="topbar2">
                    <a href="/become_host/">
                        <button id="topbar-host" width="25" class="btn btn-secondary">Diventa un host</button>
                        <button id="topbar-profile" class="btn btn-secondary">
                            <img width="28em" src="/img/avatar.svg">
                        </button>
                    </a>
                    <a href="/login">
                        <button class="btn btn-gradient">Login</button>
                    </a>
                </div>
            </div>
       </div>